@use '../../styles/breakpoints' as *;

.references{
    font-family: Overpass;
    font-size: 1.6rem;

    @include desktop{
        font-size: 2rem;
    }

    .content{
        flex-direction: column;
        gap: 2.6rem;

        .ref-gallery{
            display: flex;
            flex-direction: column;
            gap: 3.2rem;

            @include desktop{
                flex-direction: row;
                flex-wrap: wrap;
            }
        }

        .ref-wrapper{
            border: 0.4rem black solid;
            width: 30rem;
            height: 30rem;

            padding: 3rem;
            gap: 3rem;

            display: flex;
            flex-direction: column;
            align-items: center;

            @include tablet{
                width: 35rem;
                padding: 3rem 4rem;
            }

            .ref-name{
                font-family: Syne;
                font-weight: 400;
                top: -2rem;

                @include tablet {
                    font-size: 2rem;
                }
            }

            .ref-role{
                font-family: Overpass;
                top: -4rem;
            }

            .ref-quote{
                top: -4rem;
            }
        }
    }
}