<header>
    <div class="content">
        <app-logo></app-logo>
        @if (menuOpen()) {
            <div class="lang-buttons">
                <button type="button" (click)="changeLanguage('en')" [class.active] = "isActiveLanguage('en')">EN</button>
                <button type="button" (click)="changeLanguage('de')" [class.active] = "isActiveLanguage('de')">DE</button>
            </div>
        }
        <button class="nav-button" (click)="toggleMenu()" [attr.aria-expanded]="menuOpen()" aria-label="Toggle menu">
            @if (menuOpen()) {
                <img src="./assets/icons/close-button.svg" alt="">
            } @else {
                <img src="./assets/icons/burger-icon.svg" alt="">
            }
        </button>
    </div>
</header>

@if (menuOpen()) {
    <app-nav-menu (close)="closeMenu()"></app-nav-menu>
}