@use '../../styles/breakpoints' as *;

header{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--cream);
    height: 7.5rem;
    display: flex;
    align-items: center;

    .content{
        justify-content: space-between;
        flex-direction: row;

        .lang-buttons{
            display: flex;
            gap: 0.5rem;

            button{
                border: 1px solid transparent;
                cursor: pointer;
                font-size: 2.2rem;
                padding: 1rem;

                &.active{
                    border: 1px solid var(--mint);
                }
            }
        }
    }
}

.nav-button img{
    height: 2.4rem;
    cursor: pointer;

    @include tablet{
        height: 3.2rem;
    }
    @include desktop {
        height: 3.6rem;
    }
}