@use '../../styles/breakpoints' as *;

footer {
    background: black;
    color: var(--cream);
    font-size: 1.6rem;
    font-family: Overpass;

    .content{
        flex-direction: column;
        gap: 1.5rem;

        .socials{
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 5.6rem;

            @include tablet{
                gap: 6.4rem;
            }
            @include desktop {
                gap: 8.6rem;
            }

            img{
                height: 4rem;

                @include tablet {
                    height: 6rem;
                }
                @include desktop{
                    height: 8rem;
                }
            }
        }
        
    }
}