.about-me {
    font-family: Overpass;
    font-size: 1.8rem;

    .content {
        flex-direction: column;
        gap: 1.8rem;

        h2 {
            font-family: Syne;
            font-size: 2.8rem;
        }

        .img-wrapper {
            display: inline-block;
            width: 25rem;
            height: 25rem;

            &:hover::before {
                content: '';
                position: absolute;
                inset: 0;
                border: 0.4rem solid black;
                transform: translate(10px, 10px);
                z-index: 2;
                pointer-events: none;
            }

            .me {
                width: 25rem;
                height: 25rem;
                object-position: 100% 40%;
                object-fit: cover;
            }
        }

        .about-fig {
            display: flex;
            align-self: flex-start;
            align-items: center;
            gap: 1.2rem;
        }

        .talk {
            border: 0.3rem black solid;
            padding: 1.8rem 5.4rem;

            &:hover {
                font-weight: bold;
                padding: 1.8rem 5.9rem;
            }
        }
    }
}
