@use '../../styles/breakpoints' as *;

.about-me {
    font-family: Overpass;
    font-size: 1.8rem;
    @include desktop {
        font-size: 2rem;
    }

    .content {
        gap: 1.8rem;

        @include desktop{
            flex-direction: row;
            flex-wrap: wrap;
            gap: 4rem;
            align-items: flex-start;
        }

        h2 {
            @include desktop {
                flex-basis: 100%;
                text-align: center;
            }
        }

        .text-wrapper {
            display: flex;
            flex-direction: column;
            gap: 1.8rem;

            @include desktop {
                flex: 1;
            }
        }

        .img-wrapper {
            display: inline-block;

            @include desktop{
                margin-left: auto;
            }

            &:hover::before {
                content: '';
                position: absolute;
                inset: 0;
                border: 0.4rem solid black;
                transform: translate(10px, 10px);
                z-index: 2;
                pointer-events: none;
            }

            .me {
                width: 25rem;
                height: 25rem;
                object-position: 100% 40%;
                object-fit: cover;

                @include tablet {
                width: 35rem;
                height: 35rem;
            }
            }
        }

        .about-fig {
            display: flex;
            align-self: flex-start;
            align-items: center;
            gap: 1.2rem;
        }

        .talk {
            border: 0.3rem black solid;
            padding: 1.8rem 5.4rem;
            align-self: center;

            &:hover {
                font-weight: bold;
                padding: 1.8rem 5.9rem;
            }
        }
    }
}
