.nav-menu {
    position: fixed;
    top: 7.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--cream);
    z-index: 99;
    display: flex;
    flex-direction: column;

    .nav-links {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 7rem;

        a {
            font-size: 3.4rem;
            font-family: Syne;
            font-weight: bold;
            padding: 1rem;
            width: 100%;
            text-align: center;

            .nav-link-style-left {
                position: absolute;
                bottom: 0;
                left: 0;
                height: 2.5rem;
                width: 2.5rem;
                border-left: 0.4rem black solid;
                border-bottom: 0.4rem black solid;
                transition: opacity 0.2s ease;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 0.4rem;
                background: black;
                opacity: 0;
            }

            &:hover {
                .nav-link-style-left{
                    opacity: 0;
                }

                &::after {
                    opacity: 1;
                    animation: underline-grow 0.4s ease forwards;
                }
            }
        }
    }

    @keyframes underline-grow {
        0% {
            left: 0;
            width: 0;
        }
        50% {
            left: 0;
            width: 100%;
        }
        100% {
            left: 50%;
            width: 50%;
        }
    }
    
    .nav-menu-footer {
        height: 35dvh;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: black;
        color: var(--cream);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:flex-start;
        gap: 2rem;

        .diagonal {
            height: 15vw;
            width: 100%;
            background: var(--cream);
            overflow: hidden;
    
            &::after {
                content: '';
                position: absolute;
                inset: 0;
                background: black;
                clip-path: polygon(0% 0%, 100% 100%, 100% 100%, 0% 100%);
            }
        }

        h2{
            font-size: 3.8rem;
        }

        .mail {
            font-size: 1.8rem;
            font-family: Overpass
        }
    }
}
