<section class="contact-section">
    <div class="diagonal"></div>
    <div class="content">
        <h2>Say hi!</h2>
        <p class="green">Want to discuss a new project?</p>
        <p>Say hello! Let's discuss your ideas and make it happen.</p>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
            <div class="field">
                <input id="name" type="text" formControlName="name" placeholder="Your Name" />
                <label for="name">Your Name</label>
                <span class="error">
                @if (name.invalid && name.touched) {
                        @if (name.errors?.['required']) {
                            Your name is required.
                        } @else if (name.errors?.['minlength']) {
                            Your name must be at least 3 characters.
                        }
                    }
                </span>
            </div>
            <div class="field">
                <input id="email" type="email" formControlName="email" placeholder="Your Email" />
                <label for="email">Your Email</label>
                <span class="error">
                @if (email.invalid && email.touched) {
                        @if (email.errors?.['required']) {
                            Your Email is required.
                        } @else if (email.errors?.['email']) {
                            Please enter a valid email adress.
                        }
                    }
                </span>
            </div>
            <div class="field">
                <textarea id="message" rows="5" formControlName="message" placeholder="Your message"></textarea>
                <label for="message">Your message</label>
                <span class="error">
                @if (message.invalid && message.touched) {
                        @if (message.errors?.['required']) {
                            Your message is required.
                        } @else if (message.errors?.['minlength']) {
                            Message must be at least 10 characters.
                        }
                    }
                </span>
            </div>
            <div class="field checkbox">
                <label>
                    <input type="checkbox" formControlName="privacyAccepted" />
                    <span>I've read the <a routerLink="/privacy-policy">privacy policy</a> and agree to the processing of my data as outlined.</span>
                </label>
                <span class="error">
                @if (privacyAccepted.invalid && privacyAccepted.touched) {
                        You must accept the privacy policy.
                    }
                </span>
            </div>
            <button type="submit" [class.valid]="form.valid">Say hello ;)</button>
        </form>
    </div>
</section>