@use '../../styles/breakpoints' as *;

.contact-section {
    background-color: black;

    .diagonal {
        height: 8vw;
        width: 100%;
        background: var(--cream);
        overflow: hidden;
    
        &::after {
            content: '';
            position: absolute;
            inset: 0;
            background: black;
            clip-path: polygon(0% 0%, 100% 100%, 100% 100%, 0% 100%);
        }
}
.content {
    flex-direction: column;
    color: var(--cream);
    gap: 2.4rem;

    h2{
        align-self: start;
    }
    
    .green {
            color: var(--mint);
            font-size: 2.8rem;
            font-family: Overpass;
            text-align: center;
            font-weight: bold;
        }

        p {
            font-family: Overpass;
            text-align: center;
            font-size: 1.8rem;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
            max-width: 40rem;

            @include tablet {
                max-width: 50rem;
            }

            @include desktop {
                max-width: 60rem;
            }
        }

        .field {
            display: flex;
            flex-direction: column;
            gap: 0.4rem;
            font-family: Overpass;
            font-weight: 400;
            font-size: 1.8rem;
            margin-top: 1.6rem;

            input,
            textarea {
                padding: 0.8rem;
                font-size: 1.6rem;
                border: 0.3rem solid transparent;
                border-bottom: 0.3rem solid var(--cream);

                &::placeholder {
                    color: var(--cream);
                    opacity: 0.7;
                }

                &:focus {
                    outline: none;
                    border-color: var(--cream);
                }
            }

            label {
                position: absolute;
                width: fit-content;
                top: -1rem;
                left: 0.8rem;
                opacity: 0;
                pointer-events: none;
                background: black;
                padding: 0 0.3rem;
            }

            input:focus ~ label,
            textarea:focus ~ label,
            input:not(:placeholder-shown) ~ label,
            textarea:not(:placeholder-shown) ~ label {
                opacity: 1;
            }

            &.checkbox label {
                position: relative;
                width: auto;
                opacity: 1;
                pointer-events: auto;
                background: transparent;
                display: flex;
                align-items: center;
                gap: 1.6rem;

                a {
                    color: var(--mint);

                    &:hover{
                        font-weight: bold;
                    }
                }
            }
        }

        .error {
            color: red;
            font-size: 1.6rem;
            min-height: 3.2rem;
            line-height: 1.6rem;
            margin-top: 0.8rem;
        }

        button[type='submit'] {
            border: 0.4rem solid grey;
            color: grey;
            font-size: 2.2rem;

            align-self: center;
            padding: 1.2rem 2.8rem;
            cursor: pointer;

            &.valid {
                color: var(--cream);
                border-color: var(--cream);
            }
        }
    }
}
