.logo-wrapper{
    font-size: 2.5rem;
    font-weight: 800;
    display: flex;
    height: 2.5rem;
    width: 100%;

    --logo-fg: black;
    --logo-bg: var(--cream);

    &.inverted{
        --logo-fg: var(--cream);
        --logo-bg: black;
    }
}

.logo-left{
    height: 100%;
    width: 1rem;
    border-left: 0.5rem solid var(--logo-fg);
    border-top: 0.5rem solid var(--logo-fg);
    border-bottom: 0.5rem solid var(--logo-fg);
}

.logo-right{
    height: 100%;
    width: 1rem;
    border-right: 0.5rem solid var(--logo-fg);
    border-top: 0.5rem solid var(--logo-fg);
    border-bottom: 0.5rem solid var(--logo-fg);
    left: -7%;
}

.logo-middle{
    background-color: var(--logo-bg);

    position: absolute;
    left: 38%;
    top: 50%;
    transform: translate(-50%, -50%);

    height: 100%;
    width: 0.6rem;
    rotate: 10deg;

    z-index: 1001;
}

.logo-text{
    color: var(--logo-fg);

    .j {
        top: -0.55rem;
        left: -5%;
    }
    
    .n {
        top: -0.1rem;
        left: -10%;
    }
}