$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-wide: 1440px;

@mixin tablet {
    @media (min-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $breakpoint-desktop) {
        @content;
    }
}

@mixin wide {
    @media (min-width: $breakpoint-wide) {
        @content;
    }
}