.intermission {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30rem;
    height: 25rem;
    padding: 0;

    .arrow {
        width: 75%;
        height: 75%;
        display: block;
    }

    &.right .arrow {
        transform: scaleX(-1);
    }
}